<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cores que Abraçam{% endblock %}</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'eventos/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


</head>
<body>
    <header>
        <h1><a href="{% url 'listar_eventos' %}">Cores que Abraçam</a></h1>
        <nav>
            <a href="{% url 'listar_eventos' %}">Eventos</a> |
            <a href="{% url 'criar_evento' %}">Criar Evento</a>
        </nav>
        <hr>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <body>

{% if user.is_authenticated %}
    <p>Bem-vindo, {{ user.username }} | <a href="{% url 'logout' %}">Sair</a></p>
{% else %}
    <a href="{% url 'login' %}">Login Teste</a> | <a href="{% url 'signup' %}">Cadastro</a>
{% endif %}


</body>
</html>
